<%= form_for(@registration) do |f| %>
  <% if @registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registration.errors.count, "error") %> prohibited this registration from being saved:</h2>

      <ul>
      <% @registration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :phone_number, 'Phone Number' %><br>
    <%= f.text_field :phone_number %>
  </div>

  <div class="field">
    <%= f.label :location_desc_string, 'Location Description' %><br>
    <%= text_area_tag(:location_desc_string) %>
  </div>

   <div class="formfield"> 
    <p class="left2 formdescription">Fish Type</p>
    <%= f.select :boat_type, Registration::BOAT_TYPES %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
