<h1>Listing registrations</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Location desc string,</th>
      <th>Name</th>
      <th>Phone number</th>
      <th>Photo url</th>
      <th>Boat type</th>
      <th>Registration number</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @registrations.each do |registration| %>
      <tr>
        <td><%= registration.status %></td>
        <td><%= registration.location_desc_string, %></td>
        <td><%= registration.name %></td>
        <td><%= registration.phone_number %></td>
        <td><%= registration.photo_url %></td>
        <td><%= registration.boat_type %></td>
        <td><%= registration.registration_number %></td>
        <td><%= link_to 'Show', registration %></td>
        <td><%= link_to 'Edit', edit_registration_path(registration) %></td>
        <td><%= link_to 'Destroy', registration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Registration', new_registration_path %>
