<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @registration.status %>
</p>

<p>
  <strong>Location desc string,:</strong>
  <%= @registration.location_desc %>
</p>

<p>
  <strong>Name:</strong>
  <%= @registration.name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @registration.phone_number %>
</p>

<p>
  <strong>Photo url:</strong>
  <%= @registration.photo_url %>
</p>

<p>
  <strong>Has Motor:</strong>
  <%= @registration.has_motor %>
</p>

<p>
  <strong>Registration number:</strong>
  <%= @registration.registration_number %>
</p>

<%= link_to 'Back', admin_path %>
