
          <p class="table-title"><a href="/admin">&lt; Back to Admin</a></p>
          <table class="detailstable">
            <tr>
              <td class="detailstype">Case ID</td>
              <td><%= @license.id %></td>
            </tr>
            <tr>
              <td class="detailstype">Registration ID</td>
              <td><%= @license.regnumber %></td>
            </tr>
            <tr>
              <td class="detailstype">Date of request</td>
              <td><%= @license.created_at %></td>
            </tr>
            <tr>
              <td class="detailstype">Status</td>
              <td><%= @license.status_text %></td>
            </tr>
            <tr>
              <td class="detailstype">Fish Type</td>
              <td><%= @license.fish_type_text %></td>
            </tr>
            <tr>
              <td class="detailstype">Hook/Line</td>
              <td><%= @license.line_text %></td>
            </tr>
            <tr>
              <td class="detailstype">Requester</td>
              <td><%= @license.fisher_name %></td>
            </tr>
            <tr>
              <td class="detailstype">Phone</td>
              <td><%= @license.fisher_phone %></td>
            </tr>
            <tr>
              <td class="detailstype">Location</td>
              <td id="map-canvas"></td>
            </tr>
          </table>
    <form><input type="submit" value="Approve"></form>

  </div>

                        

