<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @license.status_text %>
</p>

<p>
  <strong>Location desc:</strong>
  <%= @license.location_desc %>
</p>

<p>
  <strong>Registration:</strong>
  <%= @license.registration_id %>
</p>


<p>
  <strong>Fish type:</strong>
  <%= @license.fish_type_text %>
</p>

<p>
  <strong>Date issued:</strong>
  <%= @license.date_issued %>
</p>

<p>
  <strong>Date expires:</strong>
  <%= @license.date_expires %>
</p>

<%= link_to 'Back', admin_path %>
