<h1>Listing reports</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Location desc</th>
      <th>Phone number</th>
      <th>Photo url</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.status %></td>
        <td><%= report.location_desc %></td>
        <td><%= report.phone_number %></td>
        <td><%= report.photo_url %></td>
        <td><%= link_to 'Show', report %></td>
        <td><%= link_to 'Edit', edit_report_path(report) %></td>
        <td><%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Report', new_report_path %>
