<p class="table-title"><a href="/admin">&lt; Back to Admin</a></p>

<p>
  <strong>Status:</strong>
  <%= @registration.status_text %>
</p>

<p>
  <strong>Location Description:</strong>
  <%= @registration.location_desc %>
</p>

<p>
  <strong>Name:</strong>
  <%= @registration.name %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @registration.phone_number %>
</p>

<p>
  <strong>Boat Length:</strong>
  <%= @registration.boat_length %> meters
</p>

<p>
  <strong>Has Motor:</strong>
  <%= @registration.has_motor_text %>
</p>
<p>
  <strong>Registration Number:</strong>
  <%= @registration.registration_number %>
</p>

<form action="/approve", method="post">
  <input type="hidden" name="id" value="<%= @registration.id %>" />
  <input type="submit" value="Approve Registration">
</form>

<br><%= link_to 'Delete Request', @registration, method: :delete, data: { confirm: 'Are you sure?' } %><br>

<%= link_to 'Back', admin_path %>
