<%= form_for(@report) do |f| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <p class="left2 formdescription"><%= f.label :location_desc, 'Location Description' %></p>
    <%= f.text_area :location_desc %>
  </div>
  <div class="field">
    <p class="left2 formdescription"><%= f.label :photo_url, 'Photo' %></p>
    <%= f.file_field :photo_url %>
  </div>
  <div class="field">
    <p class="left2 formdescription"><%= f.label :comments %></p>
    <%= f.text_area :comments %>
  </div>
  <div class="actions">
    <%= f.submit 'Submit Report' %>
  </div>
<% end %>
