<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @report.status_text %>
</p>

<p>
  <strong>Location desc:</strong>
  <%= @report.location_desc %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @report.comments %>
</p>

<p>
  <img src="<%= '/data/' + @report.photo_url %>">
</p>

<%= link_to 'Back', admin_path %>
