<!DOCTYPE html>
<html>
<head>
  <title>FishDB</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 
  <link href='http://fonts.googleapis.com/css?family=Oswald|Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<div id="header" class="section">
		<div class="sixteen columns left">
			<h3 id="headtitle"><a href="<%= root_path %>">FishDB</a></h3>
		</div>
	</div>

<%= yield %>
</div>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>

<script language="javascript">
	$(document).ready(function(e) {

	$("body select").msDropDown();
	
	});
</script>

</body>
</html>
